<!DOCTYPE html>
<html>
<head>
	<#include "/common/header.html">
</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote news_search">
		<form class="layui-form form" action="/menu/page" method="get">
		<div class="layui-inline">
			<a class="layui-btn modal-iframe"  data-params='{"content": "/menu/add", "title": "添加菜单","full":false,"area":"600px,480px"}'>新增</a>
		</div>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-danger batchDel ajax-all"  data-name="id" data-params='{"url": "/menu/delete","data":"","confirm":"true","complete":"reloadTab"}'>批量删除</a>
		</div>
		<div class="layui-inline">
		    <div class="layui-input-inline">
		    	<input type="text" value="" name="keyword" placeholder="菜单名称" class="layui-input search_input">
		    </div>
		    <button lay-submit class="layui-btn" lay-filter="search">查找</button>
		</div>
		</form>
	</blockquote>
	<div class="layui-form links_list">
	  	<table class="layui-table">
		    <colgroup>
				<col width="50">
				<col>
				<col>
				<col>
				<col>
				<col>
				<col>
				<col>
				<col width="15%">
		    </colgroup>
		    <thead>
				<tr>
					<th><input type="checkbox" id="checkall" data-name="id" lay-filter="check" lay-skin="primary"></th>
					<th>编码</th>
					<th>菜单名称</th>
					<th>URL</th>
					<th>动作</th>
					<th>图标</th>
					<th>排序</th>
					<th>深度</th>
					<th>操作</th>
				</tr> 
		    </thead>
		    <tbody id="list"></tbody>
		</table>
	</div>
	<div id="page"></div>
	
    <script id="list-tpl" type="text/html" data-params='{"url":"/menu/page","pageid":"#page"}'>
	{{#  layui.each(d, function(index, it){ }}
	<tr>
		<td><input type="checkbox" name="id" value="{{ it.id}}" lay-skin="primary" ></td>
		<td align="left">{{it.code}}</td>
		<td align="left">
            {{#  
				for(var i=0;i<it.code.length;i++){ }}
					&nbsp;
			{{#  } }}
			├{{it.menuName}}
		</td>
		<td align="left">{{it.url}}</td>
		<td align="left">{{it.resource}}</td>
		<td align="left">{{it.icon}} <i class="iconfont {{it.icon}}"></i></td>
		<td align="left">{{it.sort}}</td>
		<td align="left">{{it.deep}}</td>
		<td align="left">
			<a class="layui-btn layui-btn-mini modal-iframe" data-params='{"content": "/menu/edit?id={{it.id}}", "title": "编辑菜单","full":false,"area":"600px,480px"}'><i class="iconfont icon-edit"></i> 编辑</a>
			<a class="layui-btn layui-btn-mini modal-iframe" data-params='{"content": "/menu/addItem?id={{it.id}}", "title": "添加子菜单","full":false,"area":"600px,480px"}'><i class="iconfont icon-edit"></i> 添加子菜单</a>
			<a class="layui-btn layui-btn-danger layui-btn-mini ajax" data-params='{"url": "/menu/delete","confirm":true,"data":"id={{it.id}}","complete":"reloadTab"}'><i class="layui-icon">&#xe640;</i> 删除</a>
		</td>
	</tr>
	{{#  }); }}

	{{#  if(d.length == 0){ }}
	  <tr><td colspan='9' align='left' style='color:#999999;'>未查到任何数据</td></tr>
	{{#  } }}
	</script>
	<#include "/common/version.html">
	<script type="text/javascript">
		layui.use('list');
	</script>
</body>
</html>