<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.alex.admin.web.mapper.SysSettingMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.alex.admin.web.entity.SysSetting">
		<id column="Id" property="Id" />
		<result column="sysKey" property="sysKey" />
		<result column="sysName" property="sysName" />
		<result column="sysValue" property="sysValue" />
		<result column="sort" property="sort" />
		<result column="sysDesc" property="sysDesc" />
	</resultMap>

</mapper>
