<!DOCTYPE html>
<html>
<head>
	<#include "/common/header.html">
</head>
<body class="childrenBody">
	<form class="layui-form form" id="form1" action="/user/doAdd" method="post">
		<div class="layui-form-item">
			<label class="layui-form-label">用户名</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input"  name="userName"  jq-verify="required|username" placeholder="请输入用户名">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">密码</label>
			<div class="layui-input-block">
				<input type="password" class="layui-input" name="password"  jq-verify="required|password" placeholder="请输入密码">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">确认密码</label>
			<div class="layui-input-block">
				<input type="password" class="layui-input" name="password2"  jq-verify="required|password" placeholder="请再输入密码">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">描述</label>
			<div class="layui-input-block">
				<textarea placeholder="请输入描述" name="userDesc" class="layui-textarea"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-block">
				<input type="radio" name="userState" value="1" title="启用" checked="checked">
				<input type="radio" name="userState" value="-1" title="禁止" >
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">头像</label>
			<div class="layui-input-block">
				<input type="file" name="file" class="layui-upload-file">
				 <input type="hidden" name="userImg" jq-error="请上传图片" error-id="img-error">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" jq-submit lay-filter="submit"><i class="iconfont icon-submit"></i> 立即提交</button>
				<button type="reset" class="layui-btn fds"><i class="iconfont icon-reset"></i> 重置</button>
		    </div>
		</div>
	</form>
	<#include "/common/version.html">
	<script type="text/javascript">
		layui.use('myform');
	</script>
</body>
</html>